/* .offerDesign{
    display:flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;

} */
.offerDesign img{
    /* margin:0.745vmax 1vmax; */
    transition: all 0.5s;
}

.offerDesign img:hover{
    box-shadow: 6px 6px 15px rgba(53,53,53,0363);
}